ul ul {
    font-size: 0.75em !important;
}

.reveal section img {
    margin: 0;
    background:none;
    border:0;
    box-shadow: none;
    size: 0;
}

.left-align {
    text-align: left;
}

.footnote {
    font-size: 16px;
    width: 100%;
    text-align: left;
    color: #fff;
}
